@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

html {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right bottom, #b8e994, #78e08f);
  font-family: "Work Sans", sans-serif;
}

main {
  margin: 50px auto;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #f9f5f3;
  height: 120vh;
}
aside {
  height: 120vh;
}

.logo {
  font-size: 30px;
  font-weight: 500;
  color: #b8e994;
}
.lists {
  display: flex;
}
nav {
  padding: 0 20px;
  border-bottom: 3px solid #b8e994;
  height: 50px;
}
.nav__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  transition: all 0.2s ease-in;
}
li:not(:last-child) {
  margin-right: 10px;
}

li:hover {
  display: inline-block;
  color: #78e08f;
  cursor: pointer;
}

nav h4 {
  font-size: 25px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
nav h4 span {
  font-style: italic;
  font-weight: 500;
}

section {
  display: flex;
  background-color: red;
  height: 70vh;
}
aside {
  width: 30%;
  background-color: white;
  overflow: scroll;
  padding: 10px 15px;
}
article {
  width: 70%;
  background-color: #f9f5f3;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.username__box {
  margin-bottom: 20px;
}
.username__box label {
  width: 100px;
}
.username {
  font-family: "Work Sans", sans-serif;
  width: 250px;
  padding: 2px 20px;
  height: 40px;
  border: none;
  border-radius: 15px;
  outline: none;
  margin-right: 20px;
}

.submit,
.reset {
  font-family: "Work Sans", sans-serif;
  width: 120px;
  padding: 2px 20px;
  border: none;
  border-radius: 15px;
  outline: none;
  height: 40px;
  background-image: linear-gradient(to right bottom, #b8e994, #78e08f);
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
}
.submit:hover,
.reset:hover {
  transform: translateY(-4px);
}
.message__box label {
  width: 80px;
}

.message__box textarea {
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  outline: none;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  padding: 30px;
}
.friend__box {
  display: flex;
}

.friend__img {
  background-image: url("https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user__profil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.user__profil__box {
  display: inline-block;
  padding: 2px;
}
.user__name {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.user__message {
  /* display: inline-block; */
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
